#portfolio .portfolio-item {
    margin: 0 0 15px;
    right: 0;
}

#portfolio .portfolio-item .portfolio-link {
    display: block;
    position: relative;
    max-width: 400px;
    margin: 0 auto;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover {
    background: rgba(182, 15, 15, 0.9);
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all ease 0.5s;
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover:hover {
    opacity: 1;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
    position: absolute;
    width: 100%;
    height: 20px;
    font-size: 20px;
    text-align: center;
    top: 50%;
    margin-top: -12px;
    color: white;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content i {
  border: 3px solid #ffffff;
  padding: 10px;
  margin-top: -12px;
}

#portfolio .portfolio-item .portfolio-link img {
    width: 100%;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h3,
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h4 {
  margin: 0;
}

#portfolio .portfolio-item .portfolio-caption {
    max-width: 400px;
    margin: 0 auto;
    background-color: white;
    text-align: center;
    padding: 15px;
}

#portfolio .portfolio-item .portfolio-caption h4 {
    text-transform: none;
    margin: 0;
}

#portfolio * {
    z-index: 2;
}

@media (min-width: 767px) {
    #portfolio .portfolio-item {
      margin: 0 0 30px;
    }
    .modal-xl {
      margin: 0px auto;
      width: 100%;
      max-width: 100%;
    }
}

/********************************************************
  Modal Portfolio
********************************************************/
.portfolio-modal {
  background: #ffffff;
}

.portfolio-modal .modal-dialog {
  height: 100%;
}

.portfolio-modal .modal-dialog p {
  font-size: 20px;
}

.portfolio-modal .modal-content {
  border-radius: 0;
  background-clip: border-box;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  min-height: 100%;
  padding: 100px 0;
}

.portfolio-modal .modal-content .modal-body .mobile-img {
  width: 100%;
  height: 550px;
}

.portfolio-modal .modal-content .modal-body img {
  width: 100%;
  height: 100%;
  box-shadow: 10px 10px #c9c7c7;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.9); */
}

.portfolio-modal .modal-content div.tech {
  text-align: center;
  margin-top: 4px;
}

.portfolio-modal .modal-content div.tech p {
  height: 22px;
  display: inline-block;
  border-radius: 5px;
  background: #1d2224;
  color: white;
  font-size: 12px;
  padding: 1px 8px;
  margin-right: 7px;
  line-height: 20px;
}

.portfolio-modal .modal-content div.tech p:last-child {
  margin-right: 0;
}

.portfolio-modal .modal-content .tech p.javascript { background: #e6ff01; color: #7c7878; }
.portfolio-modal .modal-content .tech p.htmlcss { background: #ff5e01; }
.portfolio-modal .modal-content .tech p.react { background: #09d4b9; }
.portfolio-modal .modal-content .tech p.mongodb { background: #07af2b; }
.portfolio-modal .modal-content .tech p.firebase { background: #d7eb25; }
.portfolio-modal .modal-content .tech p.jquery { background: #2553eb; }
.portfolio-modal .modal-content .tech p.nodejs { background: #000000; }
.portfolio-modal .modal-content .tech p.css { background: #dd0e87; }
.portfolio-modal .modal-content .tech p.fawesome { background: #2d0edd; }
.portfolio-modal .modal-content .tech p.mysql { background: #f38226; }
.portfolio-modal .modal-content .tech p.expressjs { background: #c2bcb8; }

/**********************************
  close modal
**********************************/

.portfolio-modal .social-media .demo:last-child {
  margin-right: 0px;
}

.portfolio-modal .close-modal {
  position: absolute;
  width: 75px;
  height: 75px;
  background-color: transparent;
  top: 25px;
  right: 25px;
  cursor: pointer;
}

.portfolio-modal .close-modal:hover {
  opacity: 0.3;
}

.portfolio-modal .close-modal .lr {
  height: 75px;
  width: 1px;
  margin-left: 35px;
  background-color: #222222;
  transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  /* IE 9 */
  -webkit-transform: rotate(45deg);
  /* Safari and Chrome */
  z-index: 1051;
}

.portfolio-modal .close-modal .lr .rl {
  height: 75px;
  width: 1px;
  background-color: #222222;
  transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  /* IE 9 */
  -webkit-transform: rotate(90deg);
  /* Safari and Chrome */
  z-index: 1052;
}


@media(max-width:480px) {
  .portfolio-modal .modal-content .modal-body .mobile-img {
    width: 100%;
    height: 200px;
    box-shadow: 10px 10px #c9c7c7;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.9); */
  }
}

