#portfolio .portfolio-item {
    margin: 0 0 15px;
    right: 0;
}

#portfolio .portfolio-item .portfolio-link {
    display: block;
    position: relative;
    max-width: 400px;
    margin: 0 auto;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover {
    background: rgba(182, 15, 15, 0.9);
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all ease 0.5s;
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover:hover {
    opacity: 1;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
    position: absolute;
    width: 100%;
    height: 20px;
    font-size: 20px;
    text-align: center;
    top: 50%;
    margin-top: -12px;
    color: white;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content i {
    margin-top: -12px;
}

#portfolio .portfolio-item .portfolio-link img {
    width: 100%;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h3,
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h4 {
  margin: 0;
}

#portfolio .portfolio-item .portfolio-caption {
    max-width: 400px;
    margin: 0 auto;
    background-color: white;
    text-align: center;
    padding: 15px;
}

#portfolio .portfolio-item .portfolio-caption h4 {
    text-transform: none;
    margin: 0;
}

#portfolio * {
    z-index: 2;
}

@media (min-width: 767px) {
    #portfolio .portfolio-item {
      margin: 0 0 30px;
    }
    .modal-xl {
      margin: 0px auto;
      width: 100%;
      max-width: 100%;
    }
}

/********************************************************
  Modal Portfolio
********************************************************/

.portfolio-modal .modal-dialog {
  height: 100%;
}

.portfolio-modal .modal-content {
  border-radius: 0;
  background-clip: border-box;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  min-height: 100%;
  padding: 100px 0;
  text-align: center;
}

.portfolio-modal .modal-content p.item-intro span {
  border-radius: 6px;
  padding: 4px 7px;
  background: #1d2224;
  color: white;
  font-size: 12px;
  margin-right: 5px;
}

.portfolio-modal .modal-content p.item-intro span:last-child {
  margin-right: 0;
}

.portfolio-modal .modal-content p.item-intro span.javascript { background: #e6ff01; color: #7c7878; }
.portfolio-modal .modal-content p.item-intro span.htmlcss { background: #ff5e01; }
.portfolio-modal .modal-content p.item-intro span.react { background: #09d4b9; }
.portfolio-modal .modal-content p.item-intro span.mongodb { background: #07af2b; }
.portfolio-modal .modal-content p.item-intro span.firebase { background: #d7eb25; }
.portfolio-modal .modal-content p.item-intro span.jquery { background: #2553eb; }
.portfolio-modal .modal-content p.item-intro span.nodejs { background: #000000; }
.portfolio-modal .modal-content p.item-intro span.css { background: #dd0e87; }
.portfolio-modal .modal-content p.item-intro span.fawesome { background: #2d0edd; }

/**********************************
  close modal
**********************************/

.portfolio-modal .social-media .demo:last-child {
  margin-right: 0px;
}

.portfolio-modal .sm-project .demo {
  background: #0ab0fd;
}

.portfolio-modal .close-modal {
  position: absolute;
  width: 75px;
  height: 75px;
  background-color: transparent;
  top: 25px;
  right: 25px;
  cursor: pointer;
}

.portfolio-modal .close-modal:hover {
  opacity: 0.3;
}

.portfolio-modal .close-modal .lr {
  height: 75px;
  width: 1px;
  margin-left: 35px;
  background-color: #222222;
  transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  /* IE 9 */
  -webkit-transform: rotate(45deg);
  /* Safari and Chrome */
  z-index: 1051;
}

.portfolio-modal .close-modal .lr .rl {
  height: 75px;
  width: 1px;
  background-color: #222222;
  transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  /* IE 9 */
  -webkit-transform: rotate(90deg);
  /* Safari and Chrome */
  z-index: 1052;
}

