/***********************************************************************************
*	+ TYPOGRAPHY
***********************************************************************************/

body {
    font: 16px/28px "Roboto", sans-serif;
    background-color: #ffffff;
    color: #161024;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    color: #161024;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
}


/***********************************************************************************
*	+ CONTACT INFO
***********************************************************************************/
.contact-info {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0;
    list-style: none;
}

.contact-info li {
    position: relative;
    flex: 1;
    font-size: 14px;
    line-height: 22px;
    font-weight: 300;
}

.contact-info li a {
    position: absolute;
    top: 50%;
    left: 0;
    font-size: 18px;
    line-height: 28px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.contact-info li a {
    color: inherit;
}

/***********************************************************************************
*	+ PERSONAL INFO
***********************************************************************************/

.personal-info {
    margin-bottom: 100px;
}

.profile-image {
    margin-bottom: 55px;
}

.personal-details {
    position: relative;
    margin-top: 40px;
}

.personal-details > *:last-child {
    margin-bottom: 0;
}

.personal-details h1 {
    margin-bottom: 0;
    font: 900 60px/60px "Roboto", sans-serif;
}

.personal-details h4 {
    margin-bottom: 0;
    color: #ffffeec4;
    font-weight: 100;
}

.personal-details ul {
    margin: 30px 0 35px;
    color: #161024;
    list-style: none;
}

.personal-details ul li {
    margin-bottom: 10px;
}

.personal-details ul li:last-child {
    margin-bottom: 0;
}

.personal-details ul li a {
    color: inherit;
}

/* STYLE 4 */
.personal-info.style-4 .profile-image {
    width: 155px;
    height: 155px;
    margin: 0 auto;
}

.personal-info.style-4 .profile-image img {
    border-radius: 50%;
    width: 155px;
    height: 155px;
    margin: 0 auto;
}

.personal-info.style-4 .personal-details {
    text-align: center;
}

.personal-info.style-4 .personal-details h1 {
    font-size: 45px;
    line-height: 100px;
}

/***********************************************************************************
 *	+ HEADER
 ***********************************************************************************/

#header {
    position: relative;
    z-index: 2;
}

/* STYLE 6 */
.header-style-6 #header {
    padding-bottom: 330px;
    color: #ffffff;
}

.header-style-6 .ken-burns {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url(../images/bg-header-3.png) no-repeat bottom center/cover;
    animation: kenburns 45s infinite;
}

@keyframes kenburns {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.1);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-webkit-keyframes kenburns {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    50% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}


.header-style-6 #header .btn-style-1 {
    background-color: #ffffff;
    color: #161024;
}

.header-style-6 #header .contact-info li {
    -ms-flex: none;
    padding: 25px 50px 25px 50px;
}

.header-style-6 #header .contact-info li i {
    left: 0;
}

.header-style-6 #header .personal-info {
    margin-top: 100px;
}

.header-style-6 .personal-details h1,
.header-style-6 .personal-details ul,
.header-style-6 .personal-info.style-4 .personal-details ul li span {
    color: inherit;
}

/***********************************************************************************
 *	+ PAGE WRAPPER
 ***********************************************************************************/

#main-container {
    position: relative;
    /* z-index: 1; */
    background-color: #ffffff;
    overflow: hidden;
}

/* STYLE 6 */
#main-container .container-fluid {
    padding: 20px 50px;
}

/* #main-container #footer {
    margin: 0 50px;
} */

/***********************************************************************************
*	+ SOCIAL MEDIA
***********************************************************************************/

.social-media {
    margin-bottom: 20px;
}

.social-media a {
    display: inline-block;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    margin-right: 15px;
    background-color: #cbd1de;
    color: #ffffff;
    font-size: 16px;
    line-height: 34px;
    text-align: center;
    text-decoration: none;
    -webkit-transition: all 0.25s;
    transition: all 0.25s;
}

.social-media a:last-child {
    margin-right: 0;
}

.social-media a:hover {
    color: #ffffff !important;
}

.social-media a.facebook { background-color: #0e59a0; }
.social-media a.twitter { background-color: #0ea4ff; }
.social-media a.instagram { background-color: #d32b6f; }
.social-media a.linkedin { background-color: #018faf; }

/* DEFAULT COLOR */
.social-media a:hover {
    background-color: #161024;
}

/***********************************************************************************
*	+ HEADLINE
***********************************************************************************/

.headline {
    margin-bottom: 50px;
}

.headline:before {
    display: block;
    width: 45px;
    height: 8px;
    border-radius: 4px;
    margin-bottom: 5px;
    background-color: #dedede;
    content: "";
}

.headline.text-center:before {
    margin: 0 auto 5px;
}

.headline h2,
.headline h6 {
    margin-bottom: 0;
}

.headline-lg h2 {
    padding-top: 10px;
    font-size: 58px;
    line-height: 70px;
}

.headline-xl h2 {
    padding-top: 10px;
    margin-bottom: 10px;
    font-size: 82px;
    line-height: 72px;
}

.headline h6 {
    color: #9a9faa;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    letter-spacing: 0.75px;
    text-transform: uppercase;
}

/* DARK SECTION */
.full-section.dark-section .headline:before {
    background-color: #ffffff;
}

.full-section.dark-section .headline h6 {
    color: #cbd1de;
}

@media (max-width: 575px) {

    .headline-lg h2,
    .headline-xl h2 {
        font-size: 32px;
        line-height: 42px;
    }

}

/*
#portfolio .portfolio-item {
    margin: 0 0 15px;
    right: 0;
}

#portfolio .portfolio-item .portfolio-link {
    display: block;
    position: relative;
    max-width: 400px;
    margin: 0 auto;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover {
    background: rgba(182, 15, 15, 0.9);
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all ease 0.5s;
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover:hover {
    opacity: 1;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
    position: absolute;
    width: 100%;
    height: 20px;
    font-size: 20px;
    text-align: center;
    top: 50%;
    margin-top: -12px;
    color: white;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content i {
    margin-top: -12px;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h3,
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h4 {
  margin: 0;
}

#portfolio .portfolio-item .portfolio-caption {
  max-width: 400px;
  margin: 0 auto;
  background-color: white;
  text-align: center;
  padding: 25px;
}

#portfolio .portfolio-item .portfolio-caption h4 {
  text-transform: none;
  margin: 0;
}

#portfolio .portfolio-item .portfolio-caption p {
  font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: italic;
  font-size: 16px;
  margin: 0;
}

#portfolio * {
  z-index: 2;
}

@media (min-width: 767px) {
  #portfolio .portfolio-item {
    margin: 0 0 30px;
  }
}

 Self Clearing Goodness 
.container:after { 
    content: "\0020"; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden; 
}

.clearfix:before,
.clearfix:after,
.row:before,
.row:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0; }
.row:after,
.clearfix:after {
  clear: both; }
.row,
.clearfix {
  zoom: 1; }

.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
} 

*/